{% extends "leads/base.html" %}

{% block title %}
  Lead Details
{% endblock title %}

{% block content %}
    <a href="{% url 'leads:lead-list' %}">Go Back</a>
    <hr>
    <h1>This is details of {{ lead.first_name }}</h1>
    <h3>{{ lead.first_name }} {{ lead.last_name }}</h3>
    <h3>Age: {{ lead.age }}</h3>
    <h3>Agent Responseble for this lead is: {{ lead.agent }}</h3>
    <hr>
    <a href="{% url 'leads:lead-update' lead.pk %}">Update</a>
    <a href="{% url 'leads:lead-delete' lead.pk %}">Delete</a>
{% endblock content %}

